{% extends "layout.html" %}
{% block content %}


<html >

<body>
<form>
    <h3>QUESTION 1)WHAT IS YOUR CHILD'S HOBBIES</h3>
<label for="INPUT1">Choose a option:</label>

<select name="INPUT1" id="INPUT1">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
    <option value="5">5</option>
</select>
<h3>QUESTION 2)WHAT IS YOUR CHILD'S NAME</h3>
<label for="INPUT2">Choose a option:</label>

<select name="INPUT2" id="INPUT2">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
    <option value="5">5</option>
</select>
<h3>QUESTION 1)WHAT IS YOUR CHILD'S AGE</h3>
<label for="INPUT3">Choose a option:</label>

<select name="INPUT3" id="INPUT3">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
    <option value="5">5</option>
</select>
<h3>QUESTION 1)WHAT IS YOUR CHILD'S GENDER</h3>
<label for="INPUT4">Choose a option:</label>

<select name="INPUT4" id="INPUT4">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
    <option value="5">5</option>
</select>
<h3>QUESTION 1)WHAT IS YOUR CHILD'S FAVOURITE FOOD</h3>
<label for="INPUT5">Choose a option:</label>

<select name="INPUT5" id="INPUT5">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
    <option value="5">5</option>
</select>
<h3>QUESTION 1)WHAT IS YOUR CHILD'S FAVOURITE CARTOON</h3>
<label for="INPUT6">Choose a option:</label>

<select name="INPUT6" id="INPUT6">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
    <option value="5">5</option>
</select>


</form>

</body>
</html>
{% endblock content %}